@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
}



/* Estilos del Login */
.login-container {
    background-image: url('res/background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-box {
    width: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #2a820f;
    font-weight: 600;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group2 {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #2a820f;
    outline: none;
    box-shadow: 0 0 5px rgba(42, 130, 15, 0.3);
}

.login-btn {
    background-color: #2a820f;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #24800d;
}

.register-text {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.register-text a {
    color: #2a820f;
    text-decoration: none;
    font-weight: 500;
}

.register-text a:hover {
    text-decoration: underline;
}



.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #fff;
}

.input-group select:focus {
    border-color: #2a820f;
    outline: none;
    box-shadow: 0 0 5px rgba(42, 130, 15, 0.3);
}



.logo{
    font-size: 33px;
    color: #2a820f;
    font-weight: 600;
    text-decoration: none;
}


header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}

.right {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
}


.btn-regresar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #24800d;
    transition: background-color 0.3s ease;
}

.btn-regresar i {
    font-size: 20px;
    margin-right: 8px;
}

.btn-regresar:hover {
    background-color: #1f700b;
}
